<h1 class="title">About me</h1>
<p>It's always complicated to describe oneself so I'm just going to give some facts about me and I'll let you imagine what kind of person I am.<p>
<p>I was born in France, in a small town named Chambéy, close to Italy. My parents are both Chinese but were born in Vietnam.</p>
<p>I am now a front end developer at <a href="http://www.rethinkdb.com">rethinkDB</a>. I was doing a double degree in computer science before at <a href="//www.tsinghua.edu.cn">Tsinghua University</a> (with <a href="http://www.ecp.fr">Ecole Centrale Paris</a>)</p>
<p>I wasn't really interested in computer sciences before joining Ecole Centrale Paris. I was more into mathematics and web-design, but because I thought that if I was a mathematics researcher I wouldn't be able to see the world and because there was not a lot of job opportunities as a web-designer at that time, I ended up doing engineer stuff.</p>
<p>To sum up, I'm a French guy that has traveled in Europe and Asia and now working in California in a nice startup.</p>
