<div class="pagination">
    {{#if has_older_page}}
    <div class="left_side"><a href="{{url_older}}">←  Older posts</a></div>
    {{/if}}
    {{#if has_newer_page}}
    <div class="right_side"><a href="{{url_newer}}">Newer posts →</a></div>
    {{/if}}
</div>
